<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.mapper.BorrowRecordMapper">

    <resultMap id="BorrowResultMap" type="com.library.entity.BorrowRecord">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="real_name" property="realName"/>
        <result column="book_id" property="bookId"/>
        <result column="book_title" property="bookTitle"/>
        <result column="book_isbn" property="bookIsbn"/>
        <result column="borrow_date" property="borrowDate"/>
        <result column="due_date" property="dueDate"/>
        <result column="return_date" property="returnDate"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectBorrowPage" resultMap="BorrowResultMap">
        SELECT 
            br.id,
            br.user_id,
            u.username,
            u.real_name,
            br.book_id,
            b.title AS book_title,
            b.isbn AS book_isbn,
            br.borrow_date,
            br.due_date,
            br.return_date,
            br.status,
            br.remark,
            br.create_time,
            br.update_time
        FROM borrow_record br
        LEFT JOIN sys_user u ON br.user_id = u.id AND u.deleted = 0
        LEFT JOIN book_info b ON br.book_id = b.id AND b.deleted = 0
        WHERE br.deleted = 0
        <if test="userId != null">
            AND br.user_id = #{userId}
        </if>
        <if test="bookId != null">
            AND br.book_id = #{bookId}
        </if>
        <if test="status != null">
            AND br.status = #{status}
        </if>
        ORDER BY br.create_time DESC
    </select>

</mapper>
